In [30]:
import random as r
import pandas as pd
import numpy as np


n_samples = 10000


chars = '1234567890abcdefghijk'
user_id_len = 15
user_ids = set()
while len(user_ids) < n_samples:
    s = ''.join(r.choices(chars, k=user_id_len))
    user_ids.add(s)


order_nums = []
for _ in range(1, n_samples + 1):
    order_nums.append(r.randint(1, 10))


mean = 1440
std = 200
delivery_times = np.round(np.random.normal(mean, std, n_samples))


lambda_ = 1
total_sums = np.random.exponential(lambda_, n_samples) + 1


data = pd.DataFrame({
    'user_id': list(user_ids),
    'order_num': order_nums,
    'delivery_time': delivery_times,
    'total_sum': total_sums
    })

data

              user_id  order_num  delivery_time  total_sum
0     7bcdj294470fa69          1         1510.0   4.099804
1     bfkfg16hfiid650          6         1538.0   1.148715
2     ie9733ab9b42hbi          3         1460.0   2.448352
3     945f39ag12j5d3h          2         1256.0   3.516490
4     k29k5jh4i91h49g          2         1104.0   2.835996
...               ...        ...            ...        ...
9995  3ig5c2e91a38h40          2         1702.0   1.059615
9996  7h5j4cj78ckj7ge          2         1490.0   1.187063
9997  2c46a48ee1j4221          8         1354.0   1.013098
9998  5gh54jbfkhcjfg9          7         1257.0   3.022140
9999  hddbfd4fi3e744c          3         1456.0   3.720616

[10000 rows x 4 columns]